// Import Normalize
@import (less) "../../node_modules/normalize-css/normalize.css";
@import (less) "../../node_modules/normalize-legacy-addon/normalize-legacy-addon.css";

// Import Capital Framework components
@import (less) "../../node_modules/cf-core/src/cf-brand-colors.less";
@import (less) "../../node_modules/cf-core/src/cf-vars.less";
@import (less) "../../node_modules/cf-core/src/cf-media-queries.less";
@import (less) "../../node_modules/cf-core/src/cf-utilities.less";
@import (less) "../../node_modules/cf-core/src/cf-base.less";
@import (less) "../../node_modules/cf-grid/src/cf-grid.less";
@import (less) "../../node_modules/cf-buttons/src/cf-buttons.less";
@import (less) "../../node_modules/cf-forms/src/cf-forms.less";
@import (less) "../../node_modules/cf-icons/src/less/icons.less";
@import (less) "../../node_modules/cf-pagination/src/cf-pagination.less";

@import (less) "cf-enhancements.less";

@import (less) "header.less";
@import (less) "footer.less";

// HMDA Pilot components
@import (less) "utils.less";
@import (less) "wizard.less";

// Layouts
.wrapper, .wrap {
    .grid_wrapper();
}

body {
    .webfont-regular;
}
footer {
    margin-top: 2em;
}

// Disclaimer
.disclaimer {
    width: 100%;
    padding: 30px 30px 30px 0;
    background-color: @gold-20;

    &.collapsed {
        padding: 15px 15px 15px 0;
    }

    h2 > .cf-icon {
        color: @gold-80;
    }

    h2 { margin-bottom: .31em; }
    p { margin: 0; }
    button { position: absolute; right: 0px; top: 0; }
}

// Icons
.cf-spin {
  -webkit-animation: cf-spin 2s infinite linear;
  animation: cf-spin 2s infinite linear;
}
@-webkit-keyframes cf-spin {
  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes cf-spin {
  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

// Forms
.form-well {
    background-color: @gray-5;
    padding: 1.5em;
}

.form-verify {
    margin-top: 2.5em;

    .form-group_item > .form-group_item {
        margin-left: 1.5em;

        .form-label-header {
            display: inline-block;
        }
    }

    .form-buttons {
        margin-top: 1.5em;
    }
}

.form-group-horizontal {
    .form-group_item {
        .grid_column(6, 12);
        margin-top: 0;
        border: 0;
    }

    .form-label-header {
        display: block;
        margin-bottom: 5px;
    }

    .form-buttons {
        .grid_column(8, 12);
        margin-top: 1.5em;
        border: 0;
    }
}

.page-errors {
    .webfont-demi;
    color: @redorange;
}

.form-group-veritcal {
    .form-label-col {
        .grid_column(2, 12);
    }

    .form-data-col {
        .grid_column(8, 12);
    }
}

.note-required {
    font-style: italic;
    font-size: .8em;
}

.form-label-required {
    font-size: .8em;
    vertical-align: super;
}

// File Metadata
.file-metadata {
    padding: 0 0 2em 0;

    dt, dd {
        display: inline;
    }
    dt:after {
        content: ":";
    }
    dd {
        .webfont-demi;
        margin: 0 2em 0 0;
    }
}

// Summary tables
table.summary-table {
    width: 100%;

    td.id {
        width: 13%;
    }
    td.count,
    td.verification {
        width: 17%;
    }
    tbody {
        td.count,
        td.not-verified {
            .webfont-demi;
            color: @redorange;
        }
        td.verified {
            color: @green
        }
    }
}

// Detail tables
table.detail-table {
    width: 100%;

    tbody {
        tr {
            border-bottom: 0;
        }
        th, td {
            padding: .25em .625em;
        }
    }
}

@pagination-text:               @gray;
@pagination-bg:                 @gray-20;

div.page-size {
    margin-bottom: 5px;
}

// Utility classes
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    .focusable:active,
    .focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}
