// Vertically align an element within its container.
//
// @param offset defaults to 50%
.vertical-align(@offset:50%) {
    position: relative;
    top: @offset;
    -webkit-transform: translateY(-@offset);
    -ms-transform: translateY(-@offset);
    transform: translateY(-@offset);
}

// Support shaking an element
@-webkit-keyframes shake {
    0%,100% { -webkit-transform:translateX(0); }
    20%,60% { -webkit-transform:translateX(-10px); }
    40%,80% { -webkit-transform:translateX(10px); }
}
@-moz-keyframes shake {
    0%,100% { -moz-transform:translateX(0); }
    20%,60% { -moz-transform:translateX(-10px); }
    40%,80% { -moz-transform:translateX(10px); }
}
@-o-keyframes shake {
    0%,100% { -o-transform:translateX(0); }
    20%,60% { -o-transform:translateX(-10px); }
    40%,80% { -o-transform:translateX(10px); }
}
@keyframes shake {
    0%,100% { transform:translateX(0); }
    20%,60% { transform:translateX(-10px); }
    40%,80% { transform:translateX(10px); }
}
.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}