<h1>Session Reset</h1>
<p>You are about to reset your session. Doing so will return you to the Select File and Validate page and you will need to resubmit your HMDA File for validation.</p>
<p>Do you really want to reset your session?</p>

<div class="dialog-buttons content-l">
    <div class="content-l_col content-l_col-1-2">
        <button type="button" class="btn btn__secondary" ng-click="closeThisDialog(0)">No, stay here</button>
    </div>
    <div class="content-l_col content-l_col-1-2">
        <button type="button" class="btn btn__warning" ng-click="confirm('reset')">Yes, reset session</button>
    </div>
</div>
