<div class="disclaimer">
    <div class="wrap">
        <h2 class="h4"><span class="cf-icon cf-icon-error-round"></span> This website is a work in progress.</h2>
        <p>This is a part of our work to improve the HMDA electronic reporting process for financial institutions. For more information about filing your HMDA data, please visit <a href="http://www.ffiec.gov/hmda/" target="_blank">ffiec.gov/hmda</a>.</p>
        <button class="btn btn__link" ng-click="toggle()">collapse <span class="cf-icon cf-icon-up"></span></button>
    </div>
</div>
