<table id="{{editType}}" class="error-summary" ng-if="errors">
    <thead>
        <tr>
            <th class="id" scope="col">Edit Identifier</th>
            <th class="description" scope="col">Error Explanation</th>
            <th class="count" scope="col">Number of Errors</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key, value) in errors">
            <td class="id"><a ng-href="/detail/{{editType}}/{{key}}">{{key}}</a></td>
            <td class="description">{{value.explanation}}</td>
            <td class="count">{{value.errors.length}}</td>
        </tr>
    </tbody>
</table>

<p ng-if="!errors">No {{editType}} errors found.</p>
