<p class="instructions">Please review all of the data listed below. You must review the entire list <em>{{error.errors.length | entries}}</em> and verify if these should be updated automatically. If any of the data is incorrect, please correct the errors in your system of record and revalidate the file.</p>

<pagination>
<pagination-size></pagination-size>

<table id="Q029" class="error-detail row-hover" ng-if="error">
    <thead>
        <tr>
            <th scope="col" colspan="4" class="col-group-header">Reported</th>
            <th scope="col" class="col-group-header">Recommended</th>
            <td class="col-group-first" aria-hidden="true">&nbsp;</td>
        </tr>
        <tr>
            <th scope="col" class="id" ng-class="{'cf-icon icon-up': sortedBy === 'properties[\'LAR number\']' && !reverse, 'cf-icon icon-down': sortedBy === 'properties[\'LAR number\']' && reverse}" ng-click="sort('properties[\'LAR number\']')">LAR Number</th>
            <th scope="col" class="state_code" ng-class="{'cf-icon icon-up': sortedBy === 'properties[\'Reported State Code\']' && !reverse, 'cf-icon icon-down': sortedBy === 'properties[\'Reported State Code\']' && reverse}" ng-click="sort('properties[\'Reported State Code\']')">State Code</th>
            <th scope="col" class="county_code" ng-class="{'cf-icon icon-up': sortedBy === 'properties[\'Reported County Code\']' && !reverse, 'cf-icon icon-down': sortedBy === 'properties[\'Reported County Code\']' && reverse}" ng-click="sort('properties[\'Reported County Code\']')">County Code</th>
            <th scope="col" class="census_tract" ng-class="{'cf-icon icon-up': sortedBy === 'properties[\'Reported Census Tract\']' && !reverse, 'cf-icon icon-down': sortedBy === 'properties[\'Reported Census Tract\']' && reverse}" ng-click="sort('properties[\'Reported Census Tract\']')">Census Tract</th>
            <th scope="col" class="recommended col-group-first" ng-class="{'cf-icon icon-up': sortedBy === 'properties[\'Recommended MSA/MD\']' && !reverse, 'cf-icon icon-down': sortedBy === 'properties[\'Recommended MSA/MD\']' && reverse}" ng-click="sort('properties[\'Recommended MSA/MD\']')">MSA/MD</th>
            <td class="col-group-first"><label for="selectAll" class="u-visually-hidden">Verify all MSA/MDs as</label><select id="selectAll" ng-model="selectedAnswer" ng-change="selectAll(selectedAnswer)"><option value="0">Select...</option><option value="1">All of the listed MSA/MDs should be updated</option><option value="2">None of the listed MSA/MDs should be updated</option></select></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in error.errors | paginate:start():end()">
            <th scope="row" class="id">{{item.properties['LAR number']}}</th>
            <td class="state_code">{{item.properties['Reported State Code']}}</td>
            <td class="county_code">{{item.properties['Reported County Code']}}</td>
            <td class="census_tract">{{item.properties['Reported Census Tract']}}</td>
            <td class="recommended col-group-first"><label for="lar-{{item.properties['LAR number']}}">{{item.properties['Recommended MSA/MD']}}</label></td>
            <td class="col-group-first"><select id="lar-{{item.properties['LAR number']}}" ng-model="item.properties.select"><option value="0">Select...</option><option value="1">Yes, the listed MSA/MD should be updated</option><option value="2">No, the listed MSA/MD should not be updated</option></select></td>
        </tr>
    </tbody>
</table>

<pagination-nav></pagination-nav>
</pagination>

<p ng-if="!error">No errors found.</p>
