<p class="instructions">According to our records, the following MSA/MDs <em>{{error.errors.length | entries}}</em> are not in a location where your institution has a branch. If any of the data is incorrect, please correct the errors in your system of record and revalidate the file. Please review the list below and select the MSA/MDs where your institution has a branch/office.</p>

<pagination>
<pagination-size></pagination-size>

<table id="Q595" class="error-detail row-hover" ng-if="error">
    <thead>
        <tr>
            <td class="check"><label for="checkAll"><input type="checkbox" id="checkAll" ng-click="checkAll()" ng-checked="allChecked()"> Select All</label></td>
            <th scope="col" class="id">MSA/MD</th>
            <th scope="col" class="name">MSA/MD Name</th>
            <th scope="col" class="count">MSA/MD LAR Count</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in error.errors | paginate:start():end()">
            <td class="check"><input type="checkbox" id="msa-{{$index}}" ng-model="checkboxes[start()+$index]"></td>
            <th scope="row" class="id"><label for="msa-{{$index}}">{{item.properties['MSA/MD']}}</label></th>
            <td class="name">{{item.properties['MSA/MD name']}}</td>
            <td class="count">{{item.properties['LAR Count']}}</td>
        </tr>
    </tbody>
</table>

<pagination-nav></pagination-nav>
</pagination>

<p ng-if="!error">No errors found.</p>
