<table id="{{editType}}" class="error-summary" ng-if="errors">
    <thead>
        <tr>
            <th class="id" scope="col">Edit Identifier</th>
            <th class="description" scope="col">Error Explanation</th>
            <th class="verification" scope="col">Verification</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key, value) in errors">
            <td class="id"><a ng-href="/detail/{{editType}}/{{key}}">{{key}}</a></td>
            <td class="description">{{value.explanation}}</td>
            <td class="verification" ng-class="isVerified(key) ? 'verified' : 'not-verified'">{{isVerified(key) ? 'Verified' : 'Not verified'}}</td>
        </tr>
    </tbody>
</table>

<p ng-if="!errors">No {{editType}} errors found.</p>
