<div class="content-l">
    <div class="content-l_col content-l_col-2-3">
        <ng-include src="'partials/about.html'"></ng-include>
    </div>
    <div class="content-l_col content-l_col-1-3">
        <h2>Resources</h2>
        <ul class="list-unstyled">
            <li><a href="http://www.ffiec.gov/hmda/guide.htm" target="_blank">A Guide To HMDA Reporting: Getting It Right!</a></li>
            <li><a href="http://www.ffiec.gov/hmda/edits.htm" target="_blank">HMDA Edits (Quality, Validity, Syntactical)</a></li>
            <li><a href="http://www.ffiec.gov/hmda/glossary.htm" target="_blank">HMDA Glossary</a></li>
            <li><a href="http://www.ffiec.gov/hmda/fileformats.htm" target="_blank">HMDA File Specifications</a></li>
        </ul>
    </div>
</div>

