<h2 ng-if="['syntactical', 'validity', 'quality', 'macro'].indexOf(editType) !== -1"><label for="editId">{{editType | capitalize}} Edit ID:</label> <select id="editId" ng-model="selectedEditId" ng-change="goToEditDetail(selectedEditId)" ng-options="id for id in siblingEdits"></select></h2>

<p class="edit-explanation">{{editError.explanation}}</p>

<p class="instructions" ng-if="['syntactical', 'validity', 'macro'].indexOf(editType) !== -1">Please review and correct all errors listed below <em>{{editError.errors.length | entries}}</em> in your system of record. Once corrected, re-select the updated file to validate the data.</p>
<p class="instructions" ng-if="editType === 'quality'">Please review all of the data listed below. You must review the entire list <em>{{editError.errors.length | entries}}</em> and verify that all of the data is correct before proceeding. If any of the data is incorrect, please correct the errors in your system of record and revalidate the file.</p>

<error-detail type="{{editType}}" error="editError" edit-id="{{selectedEditId}}"></error-detail>

<div class="form-buttons" ng-if="['syntactical', 'validity'].indexOf(editType) !== -1">
    <button class="btn btn__secondary" ng-click="backToSummary()"><span class="btn_icon__left cf-icon cf-icon-left"></span> Back to summary</button>
</div>

<form novalidate class="form-verify form-well" ng-if="editType === 'quality'" ng-submit="saveQualityVerification()">
    <div class="form-group_item" ng-class="{'form-group_item__disabled': !canVerify}">
        <label for="verify"><input type="checkbox" id="verify" ng-model="response.verified" ng-disabled="!canVerify" ng-checked="verified"> I have verified that all of the submitted data is correct and agree with the accuracy of the values listed.</label>
    </div>

    <div class="form-buttons content-l">
        <div class="content-l_col content-l_col-1-2">
            <button class="btn btn__secondary" ng-click="backToSummary()"><span class="btn_icon__left cf-icon cf-icon-left"></span> Back to summary</button>
        </div>
        <div class="content-l_col content-l_col-1-2">
            <button type="submit" class="btn" ng-class="{'btn__disabled': !canVerify}" ng-disabled="!canVerify">Save and continue <span class="btn_icon__right cf-icon cf-icon-right"></span></button>
        </div>
    </div>
</form>

<form novalidate class="form-verify form-well" ng-if="editType === 'macro'" ng-submit="saveMacroVerification()">
    <div class="form-group_item">
        <label for="verify"><input type="checkbox" id="verify" ng-model="response.verified" ng-checked="verified"> I have verified that all of the submitted data is correct and agree with the accuracy of the values listed.</label>
        <div class="form-group_item">
            <label class="form-label-header" for="reason">Reason:</label>
            <select id="reason" ng-model="response.reason">
                <option ng-repeat="reason in reasonList" value="{{reason}}" ng-selected="{{selectedReason === reason}}">{{reason}}</option>
            </select>
        </div>
    </div>

    <div class="form-buttons content-l">
        <div class="content-l_col content-l_col-1-2">
            <button class="btn btn__secondary" ng-click="backToSummary()"><span class="btn_icon__left cf-icon cf-icon-left"></span> Back to summary</button>
        </div>
        <div class="content-l_col content-l_col-1-2">
            <button type="submit" class="btn">Save and continue <span class="btn_icon__right cf-icon cf-icon-right"></span></button>
        </div>
    </div>
</form>
