<h2>HMDA Institution Register Summary (IRS)</h2>
<p class="instructions">All MSA/MDs where my institution has a home or branch office (and took loan/applications in that office) are listed on the IRS. Each MSA/MD listed is an MSA/MD in which we have a home or branch office. Nondepository institutions, including mortgage subsidiaries, are considered to have a branch office in any MSA/MD where they have acted on five or more loan/applications--whether or not they had a physical office there. Therefore, nondepository institutions need only confirm the TOTAL statistics on the IRS. MSA/MD listings are populated automatically based on your lending activity but may currently show MSA/MD not available.</p>
<p class="instructions">Please review each of the MSA/MDs listed below <em>{{error.errors.length | entries}}</em>. If you disagree with any of the MSA/MDs, please correct the data in your system of record. Once corrected, re-select the updated file to validate the data.</p>

<pagination>
<pagination-size></pagination-size>

<table id="IRS" class="report-detail" ng-if="error.errors">
    <thead>
        <tr>
            <td colspan="4" class=""></td>
            <th scope="col" colspan="4" class="col-group-header">Loan Type</th>
            <th scope="col" colspan="3" class="col-group-header">Property Type</th>
            <th scope="col" colspan="3" class="col-group-header">Loan Purpose</th>
        </tr>
        <tr>
            <th scope="col" class="id">MSA/MD</th>
            <th scope="col" class="name">MSA/MD Name</th>
            <th scope="col" class="count">Total LARs</th>
            <th scope="col" class="count">Total <abbr title="Amount">Amt.</abbr> <small>(in thousands)</small></th>
            <th scope="col" class="count col-group-first">CONV</th>
            <th scope="col" class="count">FHA</th>
            <th scope="col" class="count">VA</th>
            <th scope="col" class="count">FSA/ RHS</th>
            <th scope="col" class="count col-group-first">1-4 Family</th>
            <th scope="col" class="count"><abbr title="Manufactured">MFD</abbr></th>
            <th scope="col" class="count">Multi-family</th>
            <th scope="col" class="count col-group-first">Home Purchase</th>
            <th scope="col" class="count">Home Improvement</th>
            <th scope="col" class="count">Refinance</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in error.errors | paginate:start():end()">
            <th scope="row" class="id">{{item.msaCode}}</th>
            <td class="name">{{item.msaName}}</td>
            <td class="count">{{item.totalLAR}}</td>
            <td class="dollar">{{item.totalLoanAmount | currency:"$":0}}</td>
            <td class="count col-group-first">{{item.totalConventional}}</td>
            <td class="count">{{item.totalFHA}}</td>
            <td class="count">{{item.totalVA}}</td>
            <td class="count">{{item.totalFSA}}</td>
            <td class="count col-group-first">{{item.total1To4Family}}</td>
            <td class="count">{{item.totalMFD}}</td>
            <td class="count">{{item.totalMultifamily}}</td>
            <td class="count col-group-first">{{item.totalHomePurchase}}</td>
            <td class="count">{{item.totalHomeImprovement}}</td>
            <td class="count">{{item.totalRefinance}}</td>
        </tr>
    </tbody>
</table>

<pagination-nav></pagination-nav>
</pagination>

<p ng-if="!error.errors">No errors found.</p>

<form novalidate class="form-verify form-well" ng-submit="saveIRSVerification(response)">
    <div class="form-group_item" ng-class="{'form-group_item__disabled': !canVerify}">
        <label for="verify"><input type="checkbox" id="verify" ng-model="response.verified" ng-disabled="!canVerify" ng-checked="verified"> I have verified that all MSA/MDs where my institution has a home or branch office (and took loan/applications in that office) are listed on the Institution Register Summary and agree with the accuracy of the MSA/MDs listed.</label>
    </div>

    <div class="form-buttons content-l">
        <div class="content-l_col content-l_col-1-2">
            <button class="btn btn__secondary" ng-click="backToSummary()"><span class="btn_icon__left cf-icon cf-icon-left"></span> Back to summary</button>
        </div>
        <div class="content-l_col content-l_col-1-2">
            <button type="submit" class="btn" ng-class="{'btn__disabled': !canVerify}">Save and continue <span class="btn_icon__right cf-icon cf-icon-right"></span></button>
        </div>
    </div>
</form>
