<h2>Select File and Upload</h2>
<p>To validate a file, select the Reporting year and <abbr title="Home Mortgage Disclosure Act">HMDA</abbr> dataset you want to validate.</p>
<p>The file must pass all Syntactical and Validity edits before running the Quality and Macro Quality edits.</p>

<form name="select-file" class="form-group form-group-horizontal form-well" ng-submit="submit(hmdaData)">
    <p class="note-required">* indicates required field</p>

    <p ng-if="errors.global" class="page-errors">{{errors.global}}</p>

    <div class="form-group_item">
        <label for="year" class="form-label-header"><span class="form-label-required" role="presentation">*</span> Reporting year</label>
        <select id="year" class="form-input" name="year" ng-model="hmdaData.year" required>
            <option ng-repeat="year in reportingYears" value="{{year}}" ng-selected="hmdaData.year">{{year}}</option>
        </select>
    </div>

    <div class="form-group_item">
        <label for="file" class="form-label-header"><span class="form-label-required" role="presentation">*</span> HMDA dataset</label>
        <input type="file" class="form-input" id="file" name="file" required ng-file-select="onFileSelect($files)">
    </div>

    <div class="form-buttons">
        <button type="submit" class="btn">Start validation</button>
    </div>
</form>
