<file-metadata></file-metadata>

<p>The Q029 and Q595 reports must be reviewed and verified first before running the IRS Report.</p>

<h2>Metropolitan Statistical Area/Metropolitan Division (MSA/MD) Report</h2>
<error-summary type="special" errors="data.specialErrors"></error-summary>

<h2>Institution Register Summary (IRS) Report</h2>
<p ng-if="!showIRSReport()">The Q029 and Q595 reports must be verified before proceeding with the IRS Report.</p>

<table class="report-summary" ng-if="showIRSReport()">
    <thead>
        <tr>
            <th class="id" scope="col">Report</th>
            <th class="description" scope="col">Description</th>
            <th class="verification" scope="col">Verification</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="id"><a ng-href="/report/IRS">IRS</a></td>
            <td class="description">Summary of all MSA/MD's where your institution has a home or branch office</td>
            <td class="verification" ng-class="isIRSVerified() ? 'verified' : 'not-verified'">{{isIRSVerified() ? 'Verified' : 'Not verified'}}</td>
        </tr>
    </tbody>
</table>

<div class="nav-buttons content-l">
    <div class="content-l_col content-l_col-1-2">
        <button class="btn btn__secondary" ng-click="previous()"><span class="btn_icon__left cf-icon cf-icon-left"></span> Back</button>
    </div>
    <div class="content-l_col content-l_col-1-2">
        <button class="btn" ng-click="next()" ng-disabled="!hasNext()" ng-class="{btn__disabled: !hasNext()}">Continue <span class="btn_icon__right cf-icon cf-icon-right"></span></button>
    </div>
</div>
