<h2>Syntactical Edit Report</h2>
<error-summary type="syntactical" errors="syntacticalErrors"></error-summary>

<h2>Validity Edit Report</h2>
<error-summary type="validity" errors="validityErrors"></error-summary>

<button class="btn btn__secondary" ng-click="previous()"><span class="btn_icon__left cf-icon cf-icon-left"></span> Back</button>
<button class="btn" ng-click="next()" ng-disabled="!hasNext()" ng-class="{btn__disabled: !hasNext()}">Continue <span class="btn_icon__right cf-icon cf-icon-right"></span></button>
