<h2>Validation Summary</h2>

<p>You have successfully validated your file.</p>
<p>Please review the Respondent and File information below. Your validated file or any data related to the validation process will not be submitted or uploaded at this time.</p>

<div class="content-l content-l__large-gutters well">
    <div class="content-l_col content-l_col-1-2 respondent-info">
        <h3>Respondent Information</h3>
        <dl class="dl-horizontal">
            <dt class="institutionName">Name</dt>
            <dd class="institutionName">{{transmittalSheet.institutionName}}</dd>

            <dt class="respondentID">Respondent ID</dt>
            <dd class="respondentID">{{transmittalSheet.respondentID}}</dd>

            <dt class="taxID">Tax ID</dt>
            <dd class="taxID">{{transmittalSheet.taxID}}</dd>

            <dt class="agency">Agency</dt>
            <dd class="agency">{{transmittalSheet.agencyCode | agency}}</dd>

            <dt class="contactName">Contact Name</dt>
            <dd class="contactName">{{transmittalSheet.contactName}}</dd>

            <dt class="contactPhone">Phone Number</dt>
            <dd class="contactPhone">{{transmittalSheet.contactPhone}}</dd>

            <dt class="respondentEmail">Email Address</dt>
            <dd class="respondentEmail">{{transmittalSheet.respondentEmail}}</dd>
        </dl>
    </div>
    <div class="content-l_col content-l_col-1-2 file-info">
        <h3>File Information</h3>
        <dl class="dl-horizontal">
            <dt class="filename">File Name</dt>
            <dd class="filename">{{fileMetadata.filename}}</dd>

            <dt class="activityYear">Reporting Year</dt>
            <dd class="activityYear">{{transmittalSheet.activityYear}}</dd>

            <dt class="totalLineEntries">Total Loans/Applications</dt>
            <dd class="totalLineEntries">{{transmittalSheet.totalLineEntries}}</dd>
        </dl>
    </div>
</div>

<div class="nav-buttons content-l">
    <div class="content-l_col content-l_col-1-2">
        <button class="btn btn__secondary" ng-click="previous()"><span class="btn_icon__left cf-icon cf-icon-left"></span> Back</button>
    </div>
    <div class="content-l_col content-l_col-1-2">
        <button class="btn" ng-click="startOver()">Start over <span class="btn_icon__right cf-icon cf-icon-right"></span></button>
    </div>
</div>
